/* You can add global styles to this file, and also import other style files */






* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }
  
  html,
  body {
    margin: 0px;
    padding: 0;
    font-size: 100%;
    outline: none;
    font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: 400;
    color: #333;
    font-size: 16px;
    background-color: #26c6da;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  h1,
  p,
  label {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
    vertical-align: baseline;
    *vertical-align: middle;
    line-height: normal;
    *overflow: visible;
    font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    cursor: pointer;
    
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(359deg);
    }
  }
  
  @keyframes glow {
    0%,
    100% {
      opacity: 1;
    }
  
    50% {
      opacity: 0.5;
    }
  }
  
  @font-face {
    font-family: "Nunito Sans";
    font-style: italic;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe0oMImSLYBIv1o4X1M8cce4E9lKcw.ttf)
      format("truetype");
  }
  
  @font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe0qMImSLYBIv1o4X1M8cce9I94.ttf)
      format("truetype");
  }
  
  @font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 800;
    src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe03MImSLYBIv1o4X1M8cc8aBc5tU1Q.ttf)
      format("truetype");
  }
  
  .type-light {
    font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
  }
  
  .type-bold {
    font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
  }
  
  .type-italic {
    font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: 14px;
    line-height: 20px;
    font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: 400;
    padding: 0.75rem 0;
    line-height: 1.5rem !important;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    color: #333;
    outline: none;
  }
  
 